* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100vh;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: #ffffff;
  color: #424242;
}

body,
input,
button {
  font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
}

ul {
  list-style: none;
}
button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: '0.4em'
}

::-webkit-scrollbar-thumb {
  border-radius: '4px';
  background-color: '#424242';
}